
@{
    ViewBag.Title = "Alteração Cliente";
}

<div class="jumbotron">
    <h2>Alteração</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <form target="_blank">
            <fieldset>
                <legend>Alterar Informações do Cliente:</legend>
                Código:<br>
                <input type="text" name="Codigo"><br>
                Nome:<br>
                <input type="text" name="Nome"><br><br>
                Email:<br>
                <input type="text" name="Email"><br><br>
                Telefone:<br>
                <input type="text" name="Telefone"><br><br>
                Celular:<br>
                <input type="text" name="Celular"><br><br>
                <input type="submit" value="Enviar">
            </fieldset>
        </form>
    </div>
</div>

