<div class="jumbotron">
    <h1>WEB API REST - CRUD CLIENTE</h1>
    <p class="lead">Este é um exemplo de uma implementação de persistencia de dados cliente utilizando se de uma Web API Rest. Este exemplo não faz persistencia em banco de dados.
    Os dados de clientes cadastrados são armazenados em uma lista de clientes estática. Sendo assim os dados serão perdidos apóa o encerramento da aplicação.</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Gravar Cliente</h2>
        <p>
            Persiste dados de um cliente.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Cadastro", "Cadastro", "Home", new { area = "" }, null)</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>Listar Clientes</h2>
        <p>Faz a listagem de todos os clientes cadastrados. Nesta página há a opção de alterar e excluir um cliente ativo.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Listagem", "Listagem", "Home", new { area = "" }, null)</a></p>
    </div>
</div>
